@{
  
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles{
}
    <div >

        <div style="background-color:#ffdfdf;margin:50px; padding:20px;">
            <div class="row">
                <div class="col-md-6">
                    <div style="border:groove;background-color:#cce7ff;width:100%">
                       
                                Solution For Check Triangle Type(Class)-- by Alert Show
                           
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-1" style="min-width:100px;">
                    <label for="lblSide1" style="color:darkblue">Side1:</label>

                </div>
                <div class="col-md-2">
                    <input type="text" class="form-control" id="lblSide1" required placeholder="Side1" style="font-size: 13px; color: darkgreen;width :100px;" maxlength="6" onkeypress="return IsNumeric(event);" data-bind="value: Side1" />

                </div>
            </div>
            <div class="row">
                <div class="col-md-1">
                    <label for="lblSide2" style="color:darkblue">Side2:</label>

                </div>
                <div class="col-md-2">
                    <input type="text" class="form-control" id="lblSide2" required placeholder="Side2" style="font-size: 13px; color: darkgreen;width :100px;" maxlength="6" onkeypress="return IsNumeric(event);" data-bind="value: Side2" />

                </div>
            </div>
            <div class="row">
                <div class="col-md-1" >
                    <label for="lblSide3" style="color:darkblue">Side3:</label>

                </div>
                <div class="col-md-2">
                    <input type="text" class="form-control" id="lblSide3"  required placeholder="Side3" style="font-size: 13px; color: darkgreen;width :100px;" maxlength="6" onkeypress="return IsNumeric(event);" data-bind="value:Side3" />

                </div>
            </div>
            <div class="row" style ="padding-top:10px;">
                <div class="col-md-3">
                    <button type="button" class="btn btn-primary" data-bind="click:function(){$root.CheckTriangleType()}"><i class="glyphicon glyphicon-screenshot"></i>&nbsp;&nbsp;Check The Type</button>
                    
                    <a target="_self" href="/Home/Index_Simple" class="btn btn-default"><i class="glyphicon glyphicon-remove"></i>&nbsp;&nbsp;Back</a>
                </div>
            </div>           
        </div>
<div style="padding:20px;">
<p>
This is The Second solution. In this page I used knockout js for bind object of UI o ViewModel.
In ViewModel I Called a Method from DetectTriangleType Class by ajax to Check the Type Of Triangles.
<br />
on next Step we Have solution in Javascript. Lets go to check it .<a href ="/Home/IndexUI" target="_self" class="btn btn-primary"> Next Solution</a>
</p>
</div>
    </div>


@section scripts{
<script src="~/ViewModels/TriangleViewModel.js"></script>
<script type="text/javascript">
    var specialKeys = new Array();
    specialKeys.push(8); //Backspace
    function IsNumeric(e) {
        var keyCode = e.which ? e.which : e.keyCode
        var ret = ((keyCode >= 48 && keyCode <= 57) || specialKeys.indexOf(keyCode) != -1);
        
        return ret;
    }
</script>
}

